{% load i18n thumbnail cms_tags %}

<article id="post-{{ post.slug }}" class="post-item">
    <header>
        {% block blog_meta %}
            {% include "djangocms_blog/includes/blog_meta.html" %}
        {% endblock %}
        <h3 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
    </header>
    <div class="blog-lead">
        {% if not TRUNCWORDS_COUNT %}
            {% render_model post "abstract" %}
        {% else %}
            {% render_model post "abstract" "" "" 'truncatewords:1'  %}
        {% endif %}
    </div>
</article>