<div class="post-detail tags">
    {% if post.categories.exists %}
        {% for category in post.categories.all %}
            {% if category.slug %}
                <span class="category_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-category' category=category.slug %}" class="blog-categories-{{ category.count }}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}</span>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if post.tags.exists %}
        {% for tag in post.tags.all %}
            <span class="tag_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-tagged' tag=tag.slug %}" class="blog-tag blog-tag-{{ tag.count }} btn btn-success btn-xs" role="button">{{ tag.name }}</a></span><span> - </span>{% if not forloop.last %}{% endif %}
        {% endfor %}
    {% endif %}
</div>