{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="jv">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>404 Page Not Found!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="{% static 'pico/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'pico/css/pico.css' %}">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="site-wrapper">
            <div class="site-cover">
                <div class="cover-inner">
                    <div class="site-feature">
                        <img src="{% static 'pico/img/404.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{% static 'pico/js/jquery-1.11.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'pico/js/bootstrap.min.js' %}"></script>
    </body>
</html>