@font-face {
	font-family: 'Ngrawit';
	src: url('NgrawitWeb.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Righmaiddhi;
	src: url("Righmaiddhi.ttf");
}

.javanese-header {
	font-family: 'Ngrawit', sans-serif;
}

.javanese-text {
	font-family: 'Righmaiddhi', sans-serif;
}